<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Book Up</title>
  </head>
  
  <body>
    <h1><a href="/" id="main">Book Up</a></h1>
    <h2>Get hooked on a good book.</h2>
    <h3>
      How it works:
    </h3>
    <p>Everyone says, “Never judge a book by its cover!”, but we are all guilty of putting a book back because it of its small font, heavy weight, or unappealing cover. With Book Up, users can read the first page of a book without judging it by its format. If users are intrigued by the first page, they can reveal the book, and click on the cover to purchase the book on Amazon.  </p>
    <h3> <a href="/home" id="home">Book me up!</a> </h3> 
  </body>
</html>