<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Book Up</title>
  </head>
  
  <body>
    <h1><a href="/" id="main">Book Up</a></h1>
    <h2><%=@title%></h2>
    <h3><%=@author%></h3>
    <a href="<%=@link%>">
    <img class="cover" src="<%=@image%>" alt="Go to Amazon" >
    </a>
    <div id="button3">
    <form method"POST" action="/home">
      <input type="submit" value="New Book" id="submit">
    </form>
    </div>
  </body>
</html>