<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:700' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Serif+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Book Up</title>
  </head>
  
  <body>
    <h1><%=@title%></h1>
    <h2><%=@author%></h2>
    <a href="<%=@link%>">
    <img class="cover" src="<%=@image%>" alt="Go to Amazon" >
    </a>
    <div id="button3">
    <form method"POST" action="/index">
      <input type="submit" value="New Book" id="submit">
    </form>
    </div>
  </body>
</html>