<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Book Up</title>
  </head>
<!--  <h1> hello </h1> -->
<!--   <h3 id="error"><%= @error if @error %></h3>
  <%= @message if @message %> -->
  
  <body>
    <h1><a href="/" id="main">Book Up</a></h1>
    <h2>Get hooked on a good book.</h2>
      <h3 id="error"><%= @error if @error %></h3>
    <h3> <%= @message if @message %> </h3>
    <a href="/about" id="about">How it works</a>
    <a href="/contribute" id="contribute"> Contribute!</a>
    <a href="/home" id=home> Book me up!</a>

  </body>
  
</html>